.DS_Store
*.idea
jmxexporter-prometheus-grafana/assets/security/
jmxexporter-newrelic/assets/security/
metricbeat-elastic-kibana/assets/security/
jolokia-telegraf-influxdb/assets/security/
both-enabled/
.vscode/
utils/testing/output/*
utils/testing/code/*.ipynb
dev-toolkit/assets/*
dev-toolkit/jmx-exporter/*