scrape_configs:
{% if node_exporter_enabled %}
  - job_name: "node_exporter"
    static_configs:
      - targets:
{% for host in groups['all'] %}
          - "{{host}}:{{prometheus_node_exporter_port}}"
{% endfor %}
        labels:
          env: "{{env}}"
{% if relabel_configs_enabled %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'
{% endif %}

{% endif %}
{% if groups['zookeeper'] is defined %}
  - job_name: "zookeeper"
    static_configs:
      - targets:
{% for host in groups['zookeeper'] %}
          - "{{host}}:{{zookeeper_jmxexporter_port}}"
{% endfor %}
        labels:
          env: "{{env}}"
{% if relabel_configs_enabled %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'
{% endif %}

{% endif %}
{% if groups['kafka_broker'] is defined %}
  - job_name: "kafka-broker"
    static_configs:
      - targets:
{% for host in groups['kafka_broker'] %}
          - "{{host}}:{{kafka_jmxexporter_port}}"
{% endfor %}
        labels:
          env: "{{env}}"
{% if relabel_configs_enabled %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'
{% endif %}

{% endif %}
{% if groups['schema_registry'] is defined %}
  - job_name: "schema-registry"
    static_configs:
      - targets:
{% for host in groups['schema_registry'] %}
          - "{{host}}:{{schema_registry_jmxexporter_port}}"
{% endfor %}
        labels:
          env: "{{env}}"
{% if relabel_configs_enabled %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'
{% endif %}

{% endif %}
{% if groups['kafka_connect'] is defined %}
  - job_name: "kafka-connect"
    static_configs:
      - targets:
{% for host in groups['kafka_connect'] %}
          - "{{host}}:{{connect_jmxexporter_port}}"
{% endfor %}
        labels:
          env: "{{env}}"
{% if relabel_configs_enabled %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'
{% endif %}

{% endif %}
{% if groups['ksql'] is defined %}
  - job_name: "ksqldb"
    static_configs:
      - targets:
{% for host in groups['ksql'] %}
          - "{{host}}:{{ksqldb_jmxexporter_port}}"
{% endfor %}
        labels:
          env: "{{env}}"
{% if relabel_configs_enabled %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: instance
        regex: '([^:]+)(:[0-9]+)?'
        replacement: '${1}'
{% endif %}

{% endif %}