export CCLOUD_API_KEY=SAMPLEKEY1223213
export CCLOUD_API_SECRET=SAMPLESECRET123213231
export CCLOUD_KAFKA_LKC_IDS="lkc-xxxxx, lkc-yyyy"
export CCLOUD_CONNECT_LCC_IDS=
export CCLOUD_KSQL_LKSQLC_IDS=
export CCLOUD_SR_LSRC_IDS="lsrc-aaaa, lsrc-bbbb"